# SECURITY WARNING: don't run with the debug turned on in production!
DJANGO_DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
DJANGO_SECRET_KEY="super_secret_key"

# SECURITY WARNING: set all of the following to True for better security in production!
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=False
DJANGO_SECURE_HSTS_PRELOAD=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_SECURE_BROWSER_XSS_FILTER=False

# SECURITY WARNING: set the following to a high number for better security in production!
# example: 2592000
DJANGO_SECURE_HSTS_SECONDS=0

# This is prepended to the /admin URL providing security through abstraction
DJANGO_ADMIN_URL_PREPEND="super_secret_admin"
